/* Logo Font */
@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap');
/* NavBar Font */
@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');
/* Font Delicada */
@import url('https://fonts.googleapis.com/css2?family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap');

::-webkit-scrollbar{
    width: 5px;
}

::-webkit-scrollbar-thumb{
    background-color: #26072b;
}

body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

header {
    z-index: 1;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(90deg, rgba(221,126,255,1) 0%, rgba(103,49,119,1) 100%);
    padding: 25px;
    width: 100%;
}

.logo {
    font-size: 15px;
    font-family: "Afacad Flux", sans-serif;    
    font-weight: bold;
    font-style: oblique;
    color: #6f3975;
    text-align: left;   
    margin-left: 135px;
    transition: color 0.3s ease;
}

.logo:hover{
    color: #ffffff;
}

span {
    font-size: 35px;
    font-family: "Afacad Flux", sans-serif; 
    font-style: oblique;
    color: #470d4f;
    text-align: left;
    margin-left: 30px;
    transition: color 0.3s ease;
}

span:hover{
    color: #ffffff;
}

.menu-nav {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    margin-right: 15%;
}

.menu-nav a {
    font-size: 20px;
    font-family: "Exo 2", sans-serif;
    color: #26072b;
    transition: color 0.3s ease;
}

.menu-nav a:hover {
    color: #ffffff;
}

.box {
    margin-top: 15px;
    margin-left: 30px
}

.box > a > i {
    font-size: 30px;
}

.home {
    background-color: #e3c4e7;
    padding: 350px 0 350px 0;
}

.home-div {
    margin-top: 0px;
    color: white;
    font-family: 'Arial', sans-serif;
    text-shadow: 
        0 0 5px #6a3879,   /* leve sombra interna */
        0 0 10px #6a3879,  /* segunda camada de brilho */
        0 0 20px #6a3879,  /* terceira camada de brilho */
        0 0 20px #ae74c9,  /* brilho externo mais suave */
        0 0 30px #ae74c9, 
        0 0 30px #ff00ff, 
        0 0 20px #ff00ff;  /* camada final de brilho roxo */
}


.home-text h1 {
    font-family: "Playwrite GB S", cursive;
    font-size: 115px;
    text-align: center;
    user-select: none;
}

.home-text h3 {
    font-family: "Playwrite GB S", cursive;
    font-size: 30px;
    text-align: center;
    user-select: none;
}

.about-me {
    background-color: #6f3975;
    padding: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about-me-div {
    margin: 0;
    flex: 1; 
}

.about-me-div > span {
    display: block;
    font-family: "Exo 2", sans-serif;
    font-style: normal;
    font-size: 25px;
    color: #f9cfff;
    text-shadow: 2px 2px #d375b78a;
    margin-bottom: 20px;
}

.profile-photo {
    flex-shrink: 0; 
    margin-left: 50px;
}

.profile-photo img {
    max-width: 100%;
    width: 500px;
    border: 2px solid transparent;
    box-shadow: 0 0 15px #ae74c9, 0 0 30px #ae74c9, 0 0 45px #ae74c9, 0 0 60px #ae74c9;
    border-radius: 10px;
}

.social-media {
    background-color: #e3c4e7;
    padding: 215px 0 220px 0;
}

.social-media-div {
    display: flex;
    justify-content: space-between;
    margin-right: 30%;
    margin-left: 35%;
}

.card {
    background-color: #e3c4e7;
    border-color: #e3c4e7;
    align-items: center;
    text-align: center;
    color: white;
    text-shadow: 
                0 0 5px #6a3879,   /* leve sombra interna */
                0 0 5px #6a3879,  /* segunda camada de brilho */
                0 0 5px #6a3879,  /* terceira camada de brilho */
                0 0 5px #ae74c9,  /* brilho externo mais suave */
                0 0 10px #ae74c9, 
                0 0 10px #ff00ff, 
                0 0 20px #ff00ff;  /* camada final de brilho roxo */
}

.card > img {
    width: 250px;
}

.card-body > a {
    color: white;
    text-shadow: none;
    background-color: #26072b;
    border: #26072b;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.card-body > a:hover {
    background-color: #ae74c9;
    transform: scale(1.05);
}