*{
    text-decoration: none;
}

header {
    position: relative;
    background-color: #d883f7;
    padding: 25px
}

.logo {
    font-size: 15px;
    font-style: oblique;    
    font-weight: bold;
    color: #47214b;
    text-align: left;   
    margin-left: 30px;
}

span {
    font-size: 25px;
    font-style: oblique;
    color: #470d4f;
    text-align: left;
    margin-left: 30px;
}

.menu-nav {
    display: flex;
}

menu.nav a{
    align-items: left;
    margin: 0 25px;
}